<h1>Acteur</h1>

<ng-container *ngIf="acteur$ | async; else loadingTemplate">
  
  <form [formGroup]="formGroup" class="form-group">
    <input hidden="true" id="id" type="text" formControlName="id" />

    <div class="form-element">
      <mat-form-field appearance="fill">
        <mat-label>Nom</mat-label>
        <input matInput formControlName="nom">
        <mat-error *ngIf="formGroup.get('nom')?.hasError('required')">Le nom est requis</mat-error>
      </mat-form-field>
    </div>

    <div class="form-element">
      <mat-form-field appearance="fill">
        <mat-label>Age</mat-label>
        <input matInput formControlName="age">
        <mat-error *ngIf="formGroup.get('age')?.hasError('required')">L'âge est requis</mat-error>
        <mat-error *ngIf="formGroup.get('age')?.hasError('negativeNumber')">Pas d'âge négatif</mat-error>
      </mat-form-field>
    </div>

    <div class="form-element">
      <mat-form-field appearance="fill">
        <mat-label>Nationalité <span class="flag-icon flag-icon-{{acteurInitial.nationalite | lowercase}} flag-icon-squared"></span></mat-label>
        <input matInput formControlName="nationalite">
        <mat-error *ngIf="formGroup.get('nationalite')?.hasError('required')">La nationalité est requise</mat-error>
        <mat-error *ngIf="formGroup.get('nationalite')?.hasError('maxlength')">La nationalité ne doit pas dépasser 2 caractères</mat-error>
      </mat-form-field>
    </div>

    <div class="action-buttons">
      <mat-error *ngIf="formGroup.hasError('errorAgeItalienTropJeune')">Un italien doit avoir plus de 18 ans</mat-error>
      <button [disabled]="formGroup.invalid" mat-raised-button color="primary" type="submit" (click)="onSubmitForm()">Enregistrer</button>
    </div>
  </form>

</ng-container>

<ng-template #loadingTemplate> Loading... </ng-template>
